.app {
    width: 100%;
    height: 100vh;
}

.segment_tree_view_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mui_tabs {
    min-height: 85vh;
    width: 100%;
}

.antd_tabs {
    min-height: 85vh;
    width: 100%;
}

.add_button {
    padding: 7px;
    background-color: #00335a;
    color: white;
    border-radius: 4px;
}

.form_button_group {
    width: 100%;
    display: flex;                                                                                                                                                                                                              
    justify-content: flex-end;
    align-items: center;
}

.form_discard_button {
    margin: 5px; 
    width: 70px;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
    border: 1px solid #00335a;
    cursor: pointer;
}

.form_save_button {
    margin: 10px;
    width: 70px;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    background-color: #00335a;
    border: 1px solid #00335a;
    cursor: pointer;
}

.add_segment_form_hidden {
    display: none;
}

.clear_button {
    position: absolute;
    top: 5px;
    right: 5%;
    margin: 10px;
    width: 70px;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    background-color: #00335a;
    border: 1px solid #00335a;
    cursor: pointer;
}

.add_segment_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30vw;
    height: 200px;
    position: absolute;
    bottom: 50%;
    border: 1px solid #bec3c7;
    padding: 2rem;
    box-shadow: 5px 10px #dee1e3;
}

.add_segment_form input {
    height: 25px;
}

.icon_container{
    width: 99%;
    display: flex;
    justify-content: flex-end;
}

.plusIcon {
    position: inherit;
    right: 0%;
    height: 20px;
    background-color: #bfccd6;
    margin: 10px 1px;
    padding: 5px;
}

.plusIcon:hover {
    cursor: pointer;
}

.newFmeaPopup {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 550px;
    background-color: #fff;
    border: 1px solid #bfccd6;
    padding: 20px;
}

.newFmeaPopupHidden {
    display: none;
}

.form_button_group {
    width: 100%;
    display: flex;                                                                                                                                                                                                              
    justify-content: center;
    align-items: center;
}

.form_discard_button {
    margin: 5px; 
    width: 70px;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
    border: 1px solid #006c8e;
    cursor: pointer;
}

.form_save_button {
    margin: 10px;
    width: 70px;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    background-color: #006c8e;
    border: 1px solid #006c8e;
    cursor: pointer;
}